body {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: black;
    background-color: #f2f2f2;
}

header {
    display: flex;
    margin-left: 40px;
    margin-right: 40px;
    width: 1200px;
    height: 56px;
    background-color: white;
    position: absolute;
}

.left-navigation, .right-navigation {
    display: flex;
    padding-left: 0;
    margin-right: 0;
    align-items: center;
    list-style: none;
}

.item-left-navigation, .item-right-navigation {
    width: 234px;
    text-align: center;
    
}

.link-navigation {
    text-decoration: none;
}

.link-name {
    text-transform: lowercase; 
    font-weight: bold;
}

.logo {
    margin-left: 52px;
    margin-right: 52px;
}

.phon-wrapper {
    width: 1200px;
    height: 773px;
    margin-left: 35px;
}
.phon-wrapper-photo {
    position: relative;
    z-index: -1;
}
.phon-welcome {
    position: relative;
    z-index: 1;
    bottom: 645px;
    left: 408px;
}

.polygon-wraper {
    position: relative;
    z-index: 1;
    bottom: 642px;
}

.info-wrapper {
    width: 1200px;
    height: 216px;
    background-color: white;
    position: relative;
    z-index: 1;
    bottom: 669px;
}

.info-wrapper-main {
    font-size: 21px;
    line-height: 26px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 65px;
}

.info-wrapper-discription {
    text-transform: uppercase;
    text-align: center;
}

.discription-wrapper {
    margin-left: 35px;
    width: 1200px;
    height: 256px;
    display: flex;
}

.discription {
    width: 400px;
    height: 256px;
    background-color: #81b3d2;
}

h3 {
    margin-top: 48px;
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
    text-align: center;
    color: white;
}

.text-discription {
    font-size: 14px;
    line-height: 21px;
    text-align: center; 
    text-transform: uppercase; 
    color: white;
}

.advantages-wrapper {
    width: 1200px;
    height: 330px;
    margin-left: 35px;
    display: flex;
    justify-content: space-between;
}

.advantages {
    text-align: center;
}

.advantages-icon {
    padding-top: 61px;
}

h4 {
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
}

.advantages-text {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.devil-bridge {
    margin-left: 35px;
    width: 1200px;
    height: 256px;
    display: flex;
}

.devil-bridge-description {
    width: 400px;
    text-align: center;
    background-color: #81b3d2;
}

.advantages-others {
    margin-left: 35px;
    width: 1200px;
    height: 256px;
    display: flex;
    justify-content: space-between;
}

.advantages-items {
    margin-top: 15px;
    text-align: center;
}

h4 {
    font-size: 21px;
    line-height: 21px;
    text-transform: uppercase;
}

.text-items {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
}

.empty-container{
    margin-left: 35px;
    width: 1200px;
}
.map {
    margin-top:292px;
    margin-left: 35px;
}

.main-footer {
    width: 1200px;
    height: 
}

.main-footer {
    width: 1200px;
    height: 120px;
    margin-left: 35px;
    display: flex;
    align-items: center;
    opacity: 0.7;
}

.social-links {
    display: flex;
    margin-left: 170px;
}

.contacts {
    margin-left:
    text-transform: uppercase;
}

.social {
    width: 48px;
    height: 48px;
    margin-left: 7px;
    background-color: #81b3d2;
    text-align: center;
    align-items: center;
}

.copyright {
    display: flex;
    margin-left: 400px;
}
