body {
    margin-left: 35px;
    padding: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
    color: black;
    background-color: #f2f2f2;
}

header {
    display: flex;
    margin-left: 0px;
    margin-right: 40px;
    width: 1200px;
    height: 56px;
    background-color: white;
    position: absolute;
}

.left-navigation, .right-navigation {
    display: flex;
    padding-left: 0;
    margin-right: 0;
    align-items: center;
    list-style: none;
}

.item-left-navigation, .item-right-navigation {
    width: 234px;
    text-align: center;
    
}

.link-navigation:hover {
    color: #81b3d2;
}

.link-navigation:active {
    color: #B2B2B2;
}

.link-navigation:link {
    color:#766357;
}

.link-navigation {
    text-decoration: none;
}

.link-name {
    text-transform: lowercase; 
    font-weight: bold;
}

.link-name {
    text-transform: uppercase; 
    font-weight: bold;
}

.logo {
    margin-left: 52px;
    margin-right: 52px;
}

.find-form {
    display: flex;
    margin-left: 0;
    width: 1200px;
    height: 155px;
    position: relative;
    bottom: 400px;
}

.infrastructue-form {
    display: inline-block;
    padding-left: 75px;
}


.background {
    width: 1200px;
    height: 562px;
    position: relative;
    Z-index: -1;
}

h2 {
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
}

.find-form {
    position: absolute;
    top: 85px;
    width: 1200px;
    min-height: 220px;
}

.find-form h2 {
    padding-bottom: 10px;
}

.cont-checkbox {
    padding-bottom: 20px;
}

.bassein-checkbox {
    position: relative;
    padding-left: 40px;
}

.bassein-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    right: 75px;
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.bassein-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 14px;
    height: 4px;

    background-color: #ffffff;
}

.bassein-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;
    width: 24px;
    height: 4px;

    background-color: #ffffff;

}

.bassein-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.bassein-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(135deg);
}

.parking-checkbox {
    position: relative;
    padding-left: 40px;
}

.parking-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    right: 85px;
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.parking-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 14px;
    height: 4px;

    background-color: #ffffff;
}

.parking-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;
    width: 24px;
    height: 4px;

    background-color: #ffffff;

}

.parking-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.parking-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(135deg);
}

.wi-checkbox {
    position: relative;
    padding-left: 40px;
}

.wi-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    right: 49px;
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.wi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 14px;
    height: 4px;

    background-color: #ffffff;
}

.wi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;
    width: 24px;
    height: 4px;

    background-color: #ffffff;

}

.wi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.wi-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(135deg);
}

.home-form {
    padding-left: 115px;
}

.home-form {
    display: inline-block;
    padding-left: 115px;
}

.hotel-checkbox {
    position: relative;
    padding-left: 40px;
}

.hotel-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    right: 94px;
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.hotel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 14px;
    height: 4px;

    background-color: #ffffff;
}

.hotel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;
    width: 24px;
    height: 4px;

    background-color: #ffffff;

}

.hotel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.hotel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(135deg);
}

.motel-checkbox {
    position: relative;
    padding-left: 40px;
}

.motel-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    right: 68px;
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.motel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 14px;
    height: 4px;

    background-color: #ffffff;
}

.motel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;
    width: 24px;
    height: 4px;

    background-color: #ffffff;

}

.motel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.motel-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(135deg);
}

.appartment-checkbox {
    position: relative;
    padding-left: 40px;
}

.appartment-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    right: 110px;
    width: 23px;
    height: 23px;
    border: 2px solid #ffffff;
    border-radius: 4px;
}

.appartment-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    content: "";

    position: absolute;
    top: 9px;
    left: 2px;

    width: 14px;
    height: 4px;

    background-color: #ffffff;
}

.appartment-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    content: "";

    position: absolute;
    top: 6px;
    left: 8px;
    width: 24px;
    height: 4px;

    background-color: #ffffff;

}

.appartment-checkbox input[type="checkbox"]:checked + .checkbox-indicator::before {
    transform: rotate(45deg);
}

.appartment-checkbox input[type="checkbox"]:checked + .checkbox-indicator::after {
    transform: rotate(135deg);
}

.infrastructue-form label {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.home-form label {
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.price {
    margin-left: 345px;
    display: inline-block;
}

.price h2 {
    padding-bottom: 0;
}

.container {
    display: flex;
    width: 317px;
    height: 37px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    align-items: center;
}

.container p{
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
}

.container p:first-child {
    padding-left: 55px;
}

.line {
    width: 22px;
    height: 2px;
    background-color: #ffffff;
    transform: rotate(90deg);
    margin-left: 64px;
}

.container p:last-child {
    padding-left: 40px;
}

.line-container {
    display: flex;
    margin-top: 20px;
}

.horizont-line {
    width: 80%;
    position: relative;
    height: 3px;
    background-color: #ffffff;
    z-index:-1;
}

.grey-circle {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background: #887E7E;
}

.white-circle {
    width: 20px;
    height: 20px;
    position: relative;
    top: -11px;
    left: 5-px;
    border-radius: 50%;
    background: #ffffff;
}

.grey-circle1 {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 8px;
    right: 8px;
    border-radius: 50%;
    background: #887E7E;
}

.white-circle1 {
    width: 20px;
    height: 20px;
    position: relative;
    left: 250px;
    bottom: 31px;
    border-radius: 50%;
    background: #ffffff;
}


.indicator {
    width: 20px;
    height: 20px;
    position: relative;
    border-radius: 50%;
    background: #ffffff;
}

.horizont-line1 {
    width: 20%;
    height: 3px;
    background-color: #887E7E;
    z-index:-1;
}

.show-button {
    width: 138px;
    height: 36px;
    margin-top: 32px;
    margin-left: 85px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-image: none;
    background: transparent;
    background-color: transparent;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
}

.show-button:hover {
    background-color:white;
    color: black;
}

.inormation-search {
    position: absolute;
    top: 335px;
    display: flex;
    padding-left: 75px;
    align-items: center;
    width:1125px;
    background-color: #ffffff;
}

.inormation-search h3 {
    font-size: 21px;
    line-height: 26px;
    color: black;
    text-transform: uppercase;
}

.inormation-search p {
    font-size: 12px;
    line-height: 18px;
    padding-left: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
}

.three {
    width: 0;
    height: 0;
    margin-left: 500px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #BDBBBC;
}

.three:hover {
    fill: black;
}

.three1 {
    width: 0;
    height: 0;
    margin-left: 15px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 12px solid #BDBBBC;
    transform: rotate(180deg);
}

.sort-form {
    display: flex;
    
    margin: 0;
    padding: 0;
    align-items: center;
    font-weight: bold;
    min-height: 90px;
}

.sort-form a {
    text-decoration: none;
    color: #BDBBBC;
}

.sort-form a:hover {
    color: #81b3d2;
}

.sort-form a:active {
    color: black;
    text-decoration: none;
}

.sort-form p {
    font-size: 12px;
    line-height: 18px;
}

.answer-form {
    width: 1200px;
    position: absolute;
    top: 425px;
    background-color: white;
}


.hotels {
    display: flex;
    align-items: center;
    border-top: solid 1px #E5E5E5;
    border-bottom: solid 1px #E5E5E5;
    min-height: 152px;
}

.block {
    width: 318px;
    height: 36px;
    border: 2px solid white;
}

.hotels img {
    margin-right: 30px;
}

.in {
    display: flex;
    flex-direction: column;
}

.in a {
    text-decoration: none;
}

.in h2 {
    margin: 0;
    color: black;
}

.in h2:hover {
    color: #81b3d2;
}

.in h2:active {
    color: #BDBBBC;
}

.in p{
    margin: 6px;
}

.about, .brone {
    color: white;
    text-transform: uppercase;
    min-height: 30px;
}

.about {
    background-color: #81b3d2;
    border: none;
}

.about:hover {
    background: #669EC0;
}

.about:active {
    background: #5496BD;
    color: #88B6D1;
}

.brone {
    background-color: #766357;
}

.brone:hover {
    background-color: #604E43;
}

.brone:active {
 color:#857871;
    background-color: #503E33;
}

.stars {
    display: flex;
    flex-direction: column;
    margin-left: 680px;
}

.group-stars {
    display: flex;
}

.group-stars img {
    margin: 0;
}

.infrastructure, .home {
    display: flex;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: white;
}

.rate {
    width: 110px;
    height: 27px;
    margin-top: 20px;
    background-color: #E5E5E5;
    align-items: center;
    text-align: center;
}

.main-footer {
    width: 1200px;
    height: 120px;
    position: absolute;
    top: 885px;
    display: flex;
    align-items: center;
    background-color: white;
    opacity: 0.8;

}

.social-links {
    display: flex;
    margin-left: 170px;
}

.contacts {
    margin-left: 100px;
    margin-right: 78px;
    text-transform: uppercase;
}

.social {
    width: 48px;
    height: 48px;
    margin-left: 7px;
    background-color: #81b3d2;
    text-align: center;
}

.social-icons {
    margin-top: 15px;
}

.social:hover {
    background-color: #669EC0;
}

.social:active {
    background-color: #5496BD;
    fill: #88B6D1; 
}

.copyright {
    align-items: center;
    display: flex;
    margin-left: 270px;
}

.copyright p {
    font-size: 14px;
    line-height: 26px;
    text-transform: uppercase;
}

.copyright a {
    width: 115px;
    height: 41px;
    margin-left: 5px;
}

.copyright svg:hover {
    fill: #81b3d2;
}

.copyright svg:active {
    fill: #BDBBBC;
}
